.wrapper
  .header
  = link_to "/portfolio/new" do
    .header__post 投稿する
  .contents
    .contents__login
      .side_ber
        .side_ber__title
          Meun
        .side_ber__menu
          %ul
            %li.side_ber__profile
              Profile
            %li.side_ber__ruby
              miniapp
            %li.side_ber__python
              Geme
            %li.side_ber__php
              PHP
        -# .sns
        -#   = link_to 'https://twitter.com/kooke_pro', class:'link' do
        -#     = fa_icon 'twitter', class:'sns__twitter'
        -#   = link_to 'https://github.com/koo-ke', class:'link' do
        -#     = fa_icon 'github', class:'sns__github'
      .introduction
        .introduction__title
          introduction
        .introduction__description
          ここは安井宏輔のポートフォリオサイトです。
          %br 制作したアプリを紹介します。
          %br 見たいアプリをクリックしてください。 
        .introduction__icon 
          = fa_icon 'caret-square-o-left'
        .introduction__echnology
          haml/scss ruby rails
    .contents__ruby
      - @posts.each do |post|
        .title
          %p= post.apptitle
        .app
          .app__view
            -# = image_tag "#{post.image}"
          .app__description
            %span.app__description--title POINT
            %p= post.text
            .app__github 
              = link_to "#{post.github}" , class:"app__github--link"do
                = fa_icon 'github'

    -# .contents__python
    -# .contents__php

  .footer
    Thank you!!

-# .contents.row
-#   - @posts.each do |post|
-#     .content_post{:style => "background-image: url(#{tweet.image});"}
-#       = simple_format(tweet.text)
-#       %span.name= post.name
