.wrapper

  .header

    .header__title
      PORTFOLIO

    = link_to "/portfolio/new", class:"header__post" do
      .header__post--text 投稿する
    = link_to "/users/sign_up", class:"header__post" do
      .header__post--text 新規登録
    = link_to "/users/sign_in", class:"btn-real" do
      %i.fa.fa-power-off

  .contents

    .side_ber
      .side_ber__title
        Meun
      .side_ber__menu
        %ul
          %li.side_ber__profile
            Profile
          %a.twitter-timeline{:href => "https://twitter.com/kooke_pro?ref_src=twsrc%5Etfw"}

    .contents__login

      .introduction
        .introduction__title
          INTRODUCTION
        .introduction__description
          ここは安井宏輔のポートフォリオサイトです。
          %br プログラミングに関するものを投稿します。

        .swiper-container.top-carousel
          .swiper-wrapper
            .swiper-slide
              = image_tag 'python.png', alt: 'swipe01' , class: 'slider-image'
            .swiper-slide
              = image_tag 'miniapp.png', alt: 'swipe02' , class: 'slider-image'
          .swiper-button-prev
          .swiper-button-next
          .swiper-pagination
        = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"

        .introduction__description
          ログインすることで記事を観覧することができます。
          %br 右のログインボタンからログインして下さい。(仮)

- if user_signed_in?
  .contents__app
    - @posts.each do |post|
      .title
        %p= post.apptitle
        .delete
          = link_to "/portfolio/#{post.id}", method: :delete, data: { confirm: '本当に削除しますか？' } do
            = fa_icon 'times-circle-o', class:"delete__icon"
          .edit
            = link_to "/portfolio/#{post.id}/edit" do
              = fa_icon 'cog', class:"delete__icon"
      .app
        .app__view
          = image_tag "#{post.image}", class:"app__view--image"
        .app__description
          %span.app__description--title POINT
          %p= post.text
          .app__github 
            = link_to "#{post.github}", class:"app__github--link" do
              = fa_icon 'github'

  .footer
    Thank you!!
