.wrapper

  = render 'portfolio/header'

  .contents
  
    = render 'portfolio/side_ber'

    .contents__views

      .postapp-wrapper
        .show-views
          .postapp-title
            = @post.apptitle
          .postapp-image
            = image_tag "#{@post.image}" ,class:"postapp-image__resize"
          .postapp-text
            %p= @post.text

          .postapp-back
          = link_to '/', class: "postapp-back__text"do
            Back
            = fa_icon 'reply'
          .postapp-repository
          = link_to "#{@post.github}", class: "postapp-back__text"do
            Repository
            = fa_icon 'github'